.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
  margin: 0 5rem;

  &__form {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  ::placeholder {
    position: relative;
    left: 1.9rem;
    top: 0.1rem;
  }

  &__form input {
    background-color: var(--ui-element);
    padding: 0.9rem;
    border: none;
    width: 25rem;
    box-shadow: 0 4px 10px 0 #0000000a;
    border-radius: 0.4rem;
    outline: none;
    padding-left: 2.5rem;
  }
}

.filter {
  position: relative;
  &__select {
    padding: 0.9rem;
    border: none;
    background-color: var(--ui-element);
    box-shadow: 0 4px 10px 0 #0000000a;
    border-radius: 0.4rem;
    width: 12rem;
    outline: none;
    cursor: pointer;
    appearance: none;

    &option {
      font-size: 0.875rem;
      font-weight: 600;
    }
  }
  .arrow {
    position: absolute;
    right: 1.2rem;
    top: 0.9rem;
  }
}

// @media screen and (max-width: 540px) {
//   .search {
//     flex-direction: column;
//     gap: 3rem;

//     &__form input {
//       margin-right: 27rem;
//       width: 100%;
//     }

//     .filter {
//       margin-right: 18rem;
//       margin-bottom: 2rem;
//     }
//   }
// }

@media screen and (min-width: 501px) and (max-width: 540px) {
  .search {
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;

    .filter {
      margin-right: 18rem;
      margin-bottom: 1rem;
    }

    &__form input {
      margin-right: 6rem;
      width: 25rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .search {
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;

    .filter {
      margin-right: 10rem;
      margin-bottom: 1rem;
    }

    &__form input {
      margin-right: 1rem;
      width: 21rem;
    }
  }
}
