@import "../variables/colors.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

  &__dark-mode {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    cursor: pointer;
    margin-right: 4rem;
  }

  &__title {
    margin-left: 4rem;
  }

  &__button {
    border: none;
    background-color: inherit;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.1875rem;
  }
}
