@import "../variables/colors.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem;
  box-shadow: 0px 2px 8px 0px #00000014;
  background-color: var(--ui-element);

  &__dark-mode {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    cursor: pointer;
    margin-right: 4rem;
  }

  &__title {
    margin-left: 4rem;
  }

  &__button {
    border: none;
    background-color: inherit;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.1875rem;
    cursor: pointer;

    display: flex;
    column-gap: 0.5rem;
    align-items: center;
  }
}

// @media screen and (max-width: 540px) {
//   .navbar {
//     margin-left: -5rem;
//     font-size: 0.9rem;

//     &__dark-mode {
//       margin-right: -1rem;
//     }
//   }
// }

@media screen and (min-width: 501px) and (max-width: 540px) {
  .navbar {
    margin-left: -5rem;
    font-size: 0.9rem;

    &__dark-mode {
      margin-right: 1rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    margin-left: -5rem;
    font-size: 0.9rem;

    &__dark-mode {
      margin-right: -1rem;
    }
  }
}
