.home {
  background-color: var(--ui-background);
}
.country {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.6875rem;
  margin-top: 3rem;
  padding-bottom: 3rem;
  margin: 0 5rem;

  &__card {
    height: 19rem;
    box-shadow: 0 4px 10px 0 #0000000a;
    border-radius: 0.5rem;
    // width: 20rem;
    background-color: var(--ui-element);

    h4 {
      margin: 0.9rem;
    }
    p {
      margin-left: 1rem;
      font-size: 0.75rem;
      font-weight: 600;
      line-height: 1.5rem;
    }

    span {
      font-weight: 300;
    }

    img {
      height: 10rem;
      width: 100%;
      object-fit: cover;
    }
  }
}

.border {
  margin-left: 1rem;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5rem;
  margin-left: 0.9rem;
}

@media screen and (max-width: 768px) {
  .country {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .country {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    &__card {
      width: 20rem;
    }
  }
}
