.profile {
  // background-color: var(--ui-background);
  padding: 7rem 0;
}
.country__details {
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding: 5rem 5rem 0 5rem;
  gap: 2rem;
  align-content: center;

  .country__name h2 {
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
  }
}

.country__name p {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.1875rem;
  margin: 0.6rem;

  span {
    font-weight: 300;
  }
}

.back__btn {
  padding: 0.25rem 2.5rem 0.25rem 2rem;
  margin-left: 5rem;
  width: 7rem;
  border: none;
  outline: none;
  box-shadow: 0 0 6px 0 #00000040;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  background-color: var(--ui-element);
  height: 2rem;
  font-family: "Nunito Sans", sans-serif;
}

.country__info {
  display: flex;
  justify-content: space-between;
}

.country__borders {
  margin-top: 2rem;
  display: flex;
  & .buttons {
    margin-left: 1rem;
    margin-top: 0.15rem;
    box-shadow: 0 0 6px 0 #0000001f;
    background-color: var(--ui-element);
    padding: 3px 8px;
    width: 5rem;
    border: none;
    outline: none;
    border-radius: 0.25em;
    font-weight: 300;
  }
}

@media screen and (max-width: 1140px) {
  .country__details {
    justify-content: center;
    align-items: center;
    padding: 4rem;
  }
}

// @media screen and (max-width: 540px) {
//   .country__details {
//     display: flex;
//     flex-direction: column;
//     gap: 1.5rem;
//     justify-content: flex-start;
//   }

//   .country__info {
//     flex-direction: column;
//     gap: 1.5rem;
//     justify-content: flex-start;
//   }
// }

@media screen and (max-width: 500px) {
  .country__details {
    display: flex;
    flex-direction: column;
    margin-left: -4rem;
  }

  .back__btn {
    margin-top: -3rem;
    margin-left: 1rem;
  }

  .country__info {
    flex-direction: column;
    gap: 1.5rem;
    justify-content: flex-start;
  }

  .buttons {
    padding: 10px 16px;
    font-size: 0.7rem;
  }

  .country__borders {
    flex-direction: column;
  }
}
