@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&family=Montserrat:wght@500&family=Nunito+Sans:wght@300;600;800&display=swap");
@import "./colors.scss";
* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  // background-color: var(--ui-background);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

@import "./colors.scss";
@import "../components/navbar.scss";
@import "../pages/countryList.scss";
@import "../components/filter.scss";
@import "../pages/country.scss";
